##
# .env to support stitch_login.js
##

# Unique MongoDB Stitch App Id
STITCH_APP_ID = MY_UNIQUE_STITCH_APP_ID

# Keycloak/RH-SSO URL - specifically the <host>/auth/<realm>/protocol/openid-connect/token
RH_SSO_URL = https://my-rh-sso-host:8443/auth/realms/my-sso-realm/protocol/openid-connect/token

# Values required from the Keycloak/RH-SSO client
CLIENT_ID = my-node-client
USERNAME = myUser
PASSWORD = myUserPassword